/*
 * ribbon theme.
 * Author: Jian Ting
 * Website: https://jtpox.com/
 */

@import '_functions';
@import '_variables';
@import 'bootstrap';
@import url('fontawesome-all.min.css');

body {
    /* Margin & Padding */
    padding-top: 30px;
}

/*
 * Text
 */
.text-purple {
    /* Font */
    color: $indigo;
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: Diavlo;
    src: url('../webfonts/diavlo/Diavlo_BOOK_II_37.otf');
}

.diavlo {
    font-family: Diavlo, sans-serif;
}