<div class="container-fluid page-content">
    <div class="row">
        <div class="col-md-8 offset-md-2 post-title">
            <h1>{{ post.title }}</h1>
            <p>
                on
                <span class="date">{{ post.created_at | format_date }}</span> in
                <a ui-sref="tag({ tag: post[0].tag.url })">{{ post.tag.title }}</a>
            </p>
        </div>

        <div class="col-md-8 offset-md-2 text-center" ng-show="post.image !== null">
            <img class="img-fluid rounded" ng-src="{{ 'uploads/images/' + post.image.file_name }}" />
        </div>

        <div ng-class="{ 'col-md-6 offset-md-3': post.image !== null, 'col-md-8 offset-md-2': post.image == null }">
            <div class="card" ng-class="{ 'post-single': post.image !== null, 'post-no-image': post.image == null }">
                <div class="card-body">
                    <p class="card-text" ng-bind-html="post.content | markdown"></p>
                </div>
            </div>
        </div>

        <div class="col-md-8 offset-md-2 about-author">
            <div class="media">
                <img class="mr-3 rounded" ng-src="{{ '/uploads/profile/' + post.created_by.avatar }}" height="64" width="64" />
                <div class="media-body">
                    <h5 class="mt-0"><a ui-sref="author({ author: post.created_by._id })">{{ post.created_by.username }}</a></h5>
                    {{ post.created_by.about }}
                </div>
            </div>
        </div>
    </div>

    <div class="row post-history">
        <div class="col-md-4 offset-md-2">
            <div ng-if="previous.length > 0">
                <h4><a ui-sref="post({ post: previous.url })"><i class="fas fa-angle-left"></i> {{ previous.title }}</a></h4>
            </div>
        </div>

        <div class="col-md-4 text-right">
            <div ng-if="next.length > 0">
                <h4><a ui-sref="post({ post: next.url })">{{ next.title }} <i class="fas fa-angle-right"></i></a></h4>
            </div>
        </div>
    </div>
</div>