<div class="col-md-4 offset-md-4">
    <div class="card post">
        <div class="card-body">
            <div class="alert alert-danger" ng-show="signInError">
                {{ signInErrorMsg }}
            </div>

            <form ng-submit="signIn()">
                <div class="form-group">
                    <label for="email" class="card-text">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email" class="form-control" ng-model="login.email" />
                </div>

                <div class="form-group">
                    <label for="password" class="card-text">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control" ng-model="login.password" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary card-text btn-sm">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>