<div class="col-md-12">
    <div class="alert alert-danger" ng-show="alerts.error.show" ng-bind="alerts.error.msg"></div>
    <nav class="navbar navbar-light bg-light">
        <span>
            <button type="button" class="btn btn-default" ng-click="add_content_box()">Add Content Box</button>
            <span compile="widgets.images.button_html"></span>

            <button type="button" class="btn btn-warning" ng-click="toggle_rearrange()">
                <i class="fa fa-toggle-off" ng-show="!rearrange"></i>
                <i class="fa fa-toggle-on" ng-show="rearrange"></i>
                Toggle Rearrange
            </button>
        </span>

        <span>
            <button type="button" class="btn btn-success" ng-click="edit_page()"><i class="fa fa-angellist" ng-show="alerts.success"></i> Update</button>
            <button type="button" class="btn btn-danger" ng-click="delete_page()">Delete</button>
        </span>
    </nav>
</div>

<div class="col-md-12"  ng-style="{'background-image': 'url(' + url + '/uploads/images/' + ((widgets.images.selected == null)? page.image.file_name : widgets.images.selected.file_name) + ')', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'margin-bottom': '20px', 'min-height': '120px', 'padding-top': '20px', 'padding-bottom': '20px' }">
    <form action="" method="POST" class="new_post">

        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Title" ng-model="page.title" />
        </div>

        <div class="form-group">
            <textarea name="content" id="markdown_content"></textarea>
        </div>

    </form>
</div>

<div class="col-md-12">
    <div class="row">

        <div ng-repeat="content in content_boxes" ng-drop="rearrange" ng-drop-success="on_drop_complete($index, $data, $event)" class="col-md-{{ content.content_column }}">
            <div class="card post" ng-drag="rearrange" ng-drag-data="content">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title" ng-model="content_boxes[$index].title" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control box_text" placeholder="Content" ng-model="content_boxes[$index].content"></textarea>
                        <small>Markdown is enabled.</small>
                    </div>
                    <div class="form-group">
                        <label>Size</label>
                        <input type="number" min="1" max="12" ng-model="content_boxes[$index].content_column" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-sm" ng-click="remove_content_box($index)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>