<div class="col-md-12">
    <div class="page-header">
        <h1>Images</h1>
    </div>
</div>

<div class="col-md-9 table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <th width="20%">Preview</th>
            <th>Name</th>
            <th>URL</th>
            <th>By</th>
            <th>Options</th>
        </thead>
        <tbody>
            <tr ng-repeat="image in images">
                <td><img ng-src="{{ url + '/uploads/images/' + image.file_name }}" class="img-fluid" alt="{{ image.file_name }}" /></td>
                <td ng-bind="image.title"></td>
                <td><input type="text" ng-model="url + '/uploads/images/' + image.file_name" class="form-control" /></td>
                <td ng-bind="image.created_by.username"></td>
                <td><button type="button" class="btn btn-danger btn-sm" ng-click="delete_image($index)"><i class="fa fa-trash-o"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-3">
    <div class="upload">
        <h4>Upload Image</h4>

        <table class="table">
            <thead>
                <th>Name</th>
                <th>Options</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>
                        <strong ng-bind="item.file.name"></strong>
                        <div ng-thumb="{ file: item._file, height: 100 }"></div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"><i class="fa fa-upload"></i></button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.remove()"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <form method="POST" class="card-text" ng-submit="new_tag()">
            <div class="custom-file">
                <input type="file" nv-file-select="" uploader="uploader" class="custom-file-input" id="custom_file" />
                <label class="custom-file-label" for="custom_file">Choose file</label>
            </div>
        </form>
    </div>
</div>