<div class="col-md-8 offset-md-2">
    <div class="page-header">
        <h1>Pages <a href="" ui-sref="new_page" class="btn btn-primary btn-sm">New Page</a></h1>
    </div>
    <div class="list-group">

        <a href="" ui-sref="edit_page({ id: page._id })" class="list-group-item" ng-repeat="page in pages">
            <div class="justify-content-between">
                <h5 class="mb-1" ng-bind="page.title"></h5>
                <small>
                    Status: <i class="fa" ng-class="{ 'fa-eye': !page.hidden, 'fa-eye-slash': page.hidden }"></i>
                </small>
            </div>
        </a>

    </div>
</div>